/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFCF6;
	
}

main {
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 100px;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}


h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li a:hover {
	color: #B1663C;
}
a {
	text-decoration: none;
	color:inherit;
	font-family: inherit;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	
	width: 85%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;

}

.editionMode {
	display:flex;
	background-color: black;
	width:100%;
	color:white;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.editionMode p {
    display: flex;
	gap: 10px;
}
.projectTitle {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.projectTitle a  {
	display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filters {
	display:flex;
    justify-content: center;
    gap: 10px;
}
.filters button {
	color: #1D6154;
    border: 0.1em solid #1D6154;
    border-radius: 1.5em;
    padding: 5px 16px;
    background-color: transparent;
	font-family: 'Syne';
	cursor: pointer;
	font-size: 1.2em;
}

.filters button:hover {
	background-color: #1D6154;
	color:white;
}

/*Styling modal */
.modalContainer {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.8);
  display:flex;
  justify-content: center;
  align-items:center;
  opacity:0;
  pointer-events: none;
}

.modalContainer .modal i {
	float:right;
	font-size: 1.2em;
	cursor: pointer;
}

.modalContainer.show {
	opacity:1;
	pointer-events: auto;
}

.modal {
	background-color: #FFF;
	width:430px;
	height: 505px;
    border-radius: 10px;
	box-sizing: border-box;
	padding:30px;
	max-width: 100%;
}

.galleryContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:20px;
}

.galleryContainer h2{
   color:black;
   font-size:1.5em;
   font-weight: normal;
}

.galleryModal {
    width: 90%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
	grid-row-gap: 25px;
    padding: 50px 0;
    box-sizing: border-box;
	border-bottom: 1px solid grey;
}

.galleryModal figure {
  height: 70px;
  position:relative;
}

.galleryModal img {
    width: 100%;
    height: 100%;
}

.galleryModal figure i{
	color: white;
  }

.galleryModal .removeWork {
  position: absolute;
  top: 0;
  right:0;
  background-color: black;
}

#addImageBtn {
	margin-top: 25px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 35px;
    background-color: #1D6154;
    color: white;
	border:none;
	cursor: pointer;
}

/*Styling modal */
section#login {
	width:50%;
	justify-content: center;
	margin: auto;
}

#login form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap :30px;
	align-items: center;
}

.formGroup {
	display:flex;
	flex-direction: column;
	width: 60%;
    gap: 10px;
}

.formGroup input {
   height: 38px;
   border: none;
   box-shadow: 0px 0px 13px 0px lightgrey;
}

.formGroup label {
	font-weight: 600;
    color: #403d3d;
}

.forgottenPsw {
	font-weight: 600;
    color: #403d3d;
	text-decoration-line: underline;
	text-decoration-style: solid ;
}

#loginBtn {
	border-radius: 30px;
    border: none;
    padding: 8px 35px;
    color: white;
    background-color: #1D6154;
	cursor: pointer;
}

.errorMessage:before {
	font-family: FontAwesome;
    content: "\f00d";
    float: left;
    font-size: medium;
    margin-right: 5px;
}

.errorMessage {
 display:none;
 color:red;
 font-weight: 600;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	margin: 0 10em;
}

footer {
	background-color: #ffffff;
	width:100%;
	height:50px;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerSection {
	position: fixed;
	bottom: 0; 
	left: 0;
	width: 100%;
}

